<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add course to the group</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="w-100 d-flex justify-content-center">
    <div class="w-25">

        <h1 class="display-4 mb-2">Select Course to link with Group ID <span th:text="${groupId}"></span></h1>

        <form th:action="@{/groups/course-relation/link}" method="POST">

            <input type="hidden" th:value="${groupId}" name="groupId">

            <select class="form-select mb-3" name="courseId">
                <option th:each="course: ${courses}" th:value="${course.id}"
                        th:text="${course.getName()}"></option>
            </select>

            <input type="submit" class="btn btn-primary" value="Link">

        </form>

    </div>
</div>

</body>
</html>