<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add group to the course</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="w-100 d-flex justify-content-center">
  <div class="w-25">

    <h1 class="display-4 mb-2">Select Group to link with Course ID <span th:text="${courseId}"></span></h1>

    <form th:action="@{/courses/group-relation/link}" method="POST">

      <input type="hidden" th:value="${courseId}" name="courseId">

      <select class="form-select mb-3" name="groupId">
        <option th:each="group: ${groups}" th:value="${group.id}"
                th:text="${group.getName()}"></option>
      </select>

      <input type="submit" class="btn btn-primary" value="Link">

    </form>

  </div>
</div>

</body>
</html>