<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>

<body class="d-flex justify-content-center">

<div class="w-75 mb-4">

  <h1 class="text-center display-2 mb-4 mt-3">Courses list:</h1>

  <table class="table">

    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </thead>

    <tr th:each="course: ${courses}">
      <th scope="row" th:text="${course.getId()}"></th>
      <th scope="row" th:text="${course.getName()}"></th>
    </tr>

  </table>

</div>

</body>
</html>