<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:if="${optionalCourse.isPresent()}" class="w-100 d-flex justify-content-center">
    <div th:with="course=${optionalCourse.get()}" class="w-25">

        <h1 class="display-4" th:text="${'Course ID: ' + course.getId()}"></h1>

        <p th:text="${'Name: ' + course.getName()}"></p>

        <div class="row mb-4">

            <div class="col">
                <p>Groups:</p>

                <div th:each="group: ${course.getGroups()}" class="list-group">
                    <div class="list-group-item d-flex justify-content-between">

                        <a th:href="@{/groups/show/{id}(id=${group.getId()})}" th:text="${group.getName()}"
                           class="btn py-0 text-start"></a>

                        <form th:action="@{/courses/group-relation/unlink}" sec:authorize="hasAuthority('ADMIN')"
                              method="POST">
                            <input type="hidden" name="courseId" th:value="${course.id}">
                            <input type="hidden" name="groupId" th:value="${group.id}">
                            <input class="btn btn-close" type="submit" value="">
                        </form>

                    </div>
                </div>

            </div>

            <div class="col">
                <p>Teachers:</p>

                <div th:each="teacher: ${course.getTeachers()}" class="list-group">
                    <div class="list-group-item d-flex justify-content-between">

                        <a th:href="@{/teachers/show/{id}(id=${teacher.getId()})}"
                           th:text="${teacher.getFirstName() + ' ' + teacher.getLastName()}"
                           class="btn py-0 text-start"></a>

                        <form th:action="@{/courses/teacher-relation/unlink}" sec:authorize="hasAuthority('ADMIN')"
                              method="POST">
                            <input type="hidden" name="courseId" th:value="${course.id}">
                            <input type="hidden" name="teacherId" th:value="${teacher.id}">
                            <input class="btn btn-close" type="submit" value="">
                        </form>

                    </div>
                </div>

            </div>

        </div>

        <div class="row mb-2">

            <form sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')" class="col d-flex justify-content-center"
                  th:method="GET" th:action="@{/courses/edit/{id}(id=${course.getId()})}">
                <input type="submit" class="btn btn-primary" value="Edit"/>
            </form>

            <form sec:authorize="hasAuthority('ADMIN')" class="col d-flex justify-content-center" th:method="POST"
                  th:action="@{/courses/delete/{id}(id=${course.getId()})}">
                <input type="submit" class="btn btn-primary" value="Delete"/>
            </form>

        </div>

        <div class="row mb-4">

            <form sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')" class="col d-flex justify-content-center"
                  th:method="GET" th:action="@{/courses/group-relation/add/{id}(id=${course.getId()})}">
                <input type="submit" class="btn btn-primary" value="Link group"/>
            </form>

            <form sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')" class="col d-flex justify-content-center"
                  th:method="GET"
                  th:action="@{/courses/teacher-relation/add/{id}(id=${course.getId()})}">
                <input type="submit" class="btn btn-primary" value="Link teacher"/>
            </form>

        </div>

    </div>
</div>

<div th:unless="${optionalCourse.isPresent()}">
    <h1 class="display-2">Course not found</h1>
</div>

</body>
</html>