<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>User menu</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>

<body class="d-flex justify-content-center">

<div class="w-75 mt-4 mb-4 pt-3 pb-3 rounded" style="background-color: #17a2b8;">

    <h1 class="w-100 display-2 text-center align-middle text-light">User menu</h1>

    <div class="row mb-3">

        <div class="col-6 d-flex justify-content-center align-items-center">
            <a href="/users/all" class="w-50 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">Show all users</a>
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center">
            <a href="/users/new" class="w-50 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">Create new user</a>
        </div>
    </div>


</div>

</body>

</html>