<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>

<body class="d-flex justify-content-center">

<div class="w-75 mt-4 mb-4 pt-3 pb-3 rounded" style="background-color: #17a2b8;">

    <h1 class="w-100 display-2 text-center align-middle text-light">Main menu</h1>

    <div class="row mb-3">

        <div class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/students}" class="w-50 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">Students</a>
        </div>

        <div class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/teachers}" class="w-50 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">Teachers</a>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/groups}" class="w-50 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">Groups</a>
        </div>

        <div class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/courses}" class="w-50 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">Courses</a>
        </div>

    </div>

    <div class="row mb-3">

        <div class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/lessons}" class="w-75 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">Lessons</a>
        </div>

        <div sec:authorize="hasAnyAuthority('STUDENT', 'STUFF', 'ADMIN')" class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/lessons/schedule-select/student}" class="w-75 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">My Schedule <span sec:authorize="hasAnyAuthority('STUFF', 'ADMIN')">(Student)</span></a>
        </div>

        <div sec:authorize="hasAnyAuthority('TEACHER', 'STUFF', 'ADMIN')" class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/lessons/schedule-select/teacher}" class="w-75 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">My Schedule <span sec:authorize="hasAnyAuthority('STUFF', 'ADMIN')">(Teacher)</span></a>
        </div>

    </div>

    <div class="row mb-3">

        <div sec:authorize="hasAuthority('ADMIN')" class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/users}" class="w-50 btn btn-info border-dark text-center text-info"
               style="background-color: black;">USERS</a>
        </div>

        <div class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/users/current}" class="w-50 btn btn-info border-dark text-center text-info"
               style="background-color: black;">PROFILE</a>
        </div>

    </div>

    <div class="row mb-3 mt-4">
        <div class="col d-flex justify-content-center align-items-center">
            <a th:href="@{/logout}" class="w-25 btn btn-info border-light text-center text-info"
               style="background-color: #fff;">LOGOUT</a>
        </div>
    </div>

</div>

</body>

</html>